{% extends 'basic.html' %}

{% block title %}about page {% endblock title %}

{% block body %}
<div class="section-title ms-4">
    <h2>About</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" data-aos="fade-up">
            <img src="../static/assets/img/about-us.jpg" class="img-fluid" style="box-shadow: 3px 3px 3px 3px #173b6c; border-radius:5px;">
        </div>
        <div class="col-md-6" data-aos="fade-up">
            <div class="resume-item pb-0">
              <h2 style="color: #173b6c; font-weight:700; ">Rudra Thakkar</h2>
              <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight:bold";><em>Dedicated and highly motivated IT engineering fresher with a strong academic background and a passion for technology. Seeking an entry-level IT engineer position to contribute my technical skills and enthusiasm to a dynamic team.</em></p>
              <ul>
                <li>Ahmedabad,Gujarat.</li>
                <li>(+91)94096 02707</li>
                <li>thakkarrudra324@gmail.com</li>
              </ul>
            </div>
    </div>
</div>


{% endblock body %}