{% extends 'basic.html' %}

{% block title %}about page {% endblock title %}

{% block body %}
<div class="section-title ms-4">
    <h2>About</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" data-aos="fade-up">
            <img src="../static/assets/img/about-us.jpg" class="img-fluid" style="box-shadow: 3px 3px 3px 3px #173b6c; border-radius:5px;">
        </div>
        <div class="col-md-6" data-aos="fade-up">
            <div class="resume-item pb-0">
              <h2 style="color: #173b6c; font-weight:700; ">Rudra Thakkar</h2>
              <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight:bold";><em>To leverage my expertise and passion for web development by utilizing Django framework to build robust, scalable, and innovative web applications. Seeking a challenging role where I can contribute my skills in Django, along with my proficiency in Python, to create efficient and high-performing solutions that meet and exceed client expectations.</em></p>
              <ul>
                <li>Ahmedabad,Gujarat.</li>
                <li>(+91)94096 02707</li>
                <li>thakkarrudra324@gmail.com</li>
              </ul>
            </div>
    </div>
</div>


{% endblock body %}