{% extends 'basic.html' %}

{% block title %} Resume page{% endblock title %}
{% block body%}
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title" data-aos="fade-right">
        <h2>Resume</h2>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>SECONDARY SCHOOL (GSEB)</h4>
            <h5>Shree Ganesh Vidhyamandir</h5>
            <p><em> 95.65 PR [2018]</em></p>
          </div>
          <div class="resume-item">
            <h4>HIGHER SECONDARY SCHOOL (GSHEB)</h4>
            <h5>R R Dwivedi High School</h5>
            <p><em> 91.42 PR [2020]</em></p>
          </div>
          <div class="resume-item">
            <h4>DEGREE/GRADE</h4>
            <h5>New LJ Institute of Engineering & Technolgy</h5>
            <p><em>8.98/10 CGPA (sem vi) [2023]</em></p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Projects</h3>
          <div class="resume-item">
            <h4>Book-store Management system</h4>
            <h5>Technology: Python-Django</h5>
            <ul>
              <li>Maintaining the details of Books Available, Customer details,Sales Record.</li>
              <li>Provide a facility for storing data to reduce the paperwork.</li>
            </ul>
          </div>
          {% comment %} <div class="resume-item">
            <h4>NoticeHub-a web application</h4>
            <h5>Technology: Python-Django</h5>
            
              <p>Notice hub is a web application by which admin can post the notices of fees, circular or activities and student can view all the notices.</p>
              <li>Creating Meetings</li>
              <li>Hosting Meetings</li>
              <li>Participating Meetings</li>
              <li>Participation Engagement Features</li>
          
          </div> {% endcomment %}
          <h3 class="resume-title">Summer Internship</h3>
          <div class="resume-item">
            <h4>Notice Hub</h4>
            <h5>Technolgy: Python-Django</h5>
            <ul>
              <p><li>Notice Hub is a web application by which admin can post the notice of fees, circular or activities and student can view all the notice.</li></p>
            </ul>
          </div>
        </div>

        <div class="col-lg-12 d-flex justify-content-center mt-3">
            <a href="../static/assets/pdf/Rudra Thakkar Resume.pdf" attributes-list download><button class="btn btn-primary" style="background-color: #173b6c !important;" >Download Resume</button></a>
        </div>
      </div>

    </div>
  </section>
{% endblock body %}